/* Estilo.CSS */
*{ margin: 0; 
    padding: 0;
}

body{
    font-family: Helvetica, Arial; 
    font-size: 13px; 
    color: #333; 
}

header{
    height: 90px; 
    background-color: #262626; 
    padding: 10px 0;
}

footer{
    height: 50px; 
    background-color: #44b874; 
    padding: 10px 0; 
    text-align:center; 
    color: #333;
}

/* Class */
.container{
    margin: 0 auto; 
    width: 960px;
}

/* id */
#conteudo{
    padding: 50px 0;
}

#menu{
    float: right;
    padding: 35px 0;
}

#menu a{
    text-decoration: none;
    padding: 50px 50px;
    color: #e3e3e3;
    text-shadow: 1px 1px #111;
}

#menu a:hover{
    background-color: #44b874;
}
